$clr-theme: (
  base: (
    light: (
      700: 0 0% 100%,
      100: 0 0% 0%
     
    ),
    night:
    (
      700: 0 0% 0%,
      
    ),
  ),
  primary: (
    light: (
      700: 187 100% 37%,
      600: 188 58% 68%,
      500: 187 57% 77%    

    ),
    night: (
      700: 25 10% 14%,
     
    ),
  ),
  accent: (
    light: (
      700: 26 65% 50%,
     
    ),
    night: (
      700: 30 15% 14%,
      

    ),
  ),
  
);












