//Font scales
$font-scale:(
    step:
    (
        "0": clamp(0.63rem, calc(0.72rem + -0.11vw), 0.69rem),
        "1": clamp(0.83rem, calc(0.82rem + 0.08vw), 0.88rem),
        "2": clamp(1.00rem, calc(0.92rem + 0.39vw), 1.25rem),
        "3": clamp(1.20rem, calc(1.02rem + 0.88vw), 1.77rem),
        "4": clamp(1.44rem, calc(1.11rem + 1.65vw), 2.50rem),
        "5": clamp(1.73rem, calc(1.17rem + 2.80vw), 3.53rem),
        "6": clamp(2.07rem, calc(1.17rem + 4.54vw), 5.00rem),
        "7": clamp(2.49rem, calc(1.07rem + 7.11vw), 7.07rem),
    ),
);



//Font weights
$font-weights:(
    "100": 100,
    "200": 200,
    "300": 300,
    "400": 400,
    "500": 500,
    "600": 600,
    "700": 700,
    "800": 800
);
